<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :css %>
  </head>

  <body>
    <%= yield :header %>

    <div class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
    <%= yield :js %>
  </body>
</html>
